<!DOCTYPE html>
{% extends 'odds/base.html' %}
{% load static %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    <div class="app-container">
        <div>
            <h1>BetApp</h1>
        </div>
    {% for data in Final_data %}
        {% if forloop.counter0|divisibleby:2 %}
            <div class="flex-container">
        {% endif %}
        
        <div class="flex-child">
            <div class="content">
                <p class="team-name">
                    {{ data.Home_Team }}
                </p>
                <p>
                    {{ data.Away_Team }}
                </p>
            </div>
            <div class="content">
                <p class="money_line">
                   Home Team Money Line: {{ data.Home_Team_Money_Line }}
                </p>
                <p class="money_line">
                   Away Team Money Line:  {{ data.Away_Team_Money_Line }}
                </p>    
            </div>
        </div>

        {% if not forloop.counter0|divisibleby:2 and not forloop.last %}
            </div>
        {% endif %}

    {% endfor %}
   </div>     

{% endblock %}